.form-order__container {
  @extend %border-radius;
  width: 330px;
  height: 319px;
  padding: 30px 30px 38px;
}

.order-price {
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 19px;
}

.form__input {
  width: 270px;
  height: 50px;
  font-size: 16px;
  line-height: 19px;
  outline-color: $main-accent-color;
}

.form__input::placeholder {
  color: $main-text-color;
}

.order-date {
  @extend %border-radius;
  margin-bottom: 16px;
  text-indent: 17px;
}

.order-guests {
  @extend %border-radius;
  margin-bottom: 24px;
  text-indent: 17px;
}

.book {
  @extend %secondary-border-radius;
  border: 1px solid transparent;
  color: $main-light-color;
  background-color: $main-accent-color;
  cursor: pointer;
  // outline: none;

  &:hover {
    background-color: $main-light-color;
    border-color: $main-accent-color;
    color: $main-accent-color;
  }
}
