.footer {
  border: 1px solid #e1e7ed;
  padding: 43px 0;

  &__wraper {
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
  }

  &__list {
    list-style: none;
  }

  &__list-item--link {
    text-decoration: none;
    color: #3d4e61;
    transition: 0.3s;

    &:hover {
      color: #fd5c63;
    }
  }

  &__list-item:first-child {
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__list-item:not(:first-child),
  &__list-item:not(:last-child) {
    margin-bottom: 9px;
  }
}
