@import "variables";

.header {
  box-shadow: 0 1px 0 #e1e7ed;
  padding: 15px 19px 15px 26px;
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  box-sizing: border-box;
}

.header__navigation {
  display: flex;

  & .menu {
    display: flex;

    &__item {
      line-height: 30px;
      margin-right: 31px;

      & a {
        font-size: 16px;
        color: $main-color;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
