.footer {
  padding: 0 calc(50% - 450px);
  height: 213px;
  background: #E5E5E5;
  box-shadow: 0px -1px 0px #E1E7ED;
  display: flex;
  justify-content: space-between;

  .block p:first-child {
    margin-bottom: 20px;
    font-weight: 600;
  }

  .block {
    margin: 0 20px;
  }
}
