.header {
  background-image: url(../images/backgroung__img.jpg);
  height: 524px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.top {
  display: flex;
  justify-content: space-between;
  background-color: white;

  &__logo {
    margin: 15px 26px;
  }

  &__img {
    margin: 15px 19px;
  }

  &__img, &__logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  &__nav {
    justify-content: space-between;
    width: 373px;
    align-items: center;
    display: flex;
  }

  &__item {
    color: #3D4E61;
    text-decoration: none;
    font-size: 16px;
  }
}
