@font-face {
  font-family: Avenir, sans-serif;
  src: url(./fonts/Avenir-Book.ttf);
}

body {
  margin: 0;
  font-family: Avenir, sans-serif;
}

a {
  text-decoration: none;
  color: #3d4e61;
}

.head {
  height: 60px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 #e1e7ed;

  &__logo {
    display: block;
    width: 30px;
    background-image: url(./../images/rectangle.png);
    margin: 15px 0 15px 26px;
    transition: transform 0.5s;

    &:hover {
      transform: scaleX(-1);
    }
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bold;
    & a {
      display: block;
      transition: transform 0.15s,
        color 0.25s;
      &:hover {
        color: #118488;
        transform: scale(1.08);
      }
    }
  }

  &__menu {
    height: 60px;
    display: flex;
    padding-top: 14px;
    margin-right: 20px;
  }

  &__account {
    height: 30px;
  }

  &__menu-container {
    margin-top: 5px;
    display: flex;
    list-style-type: none;
  }
}

.page {
  color: #3d4e61;

  &__poster {
    width: 100%;
    margin-bottom: 40px;
    position: fixed;
  }
  &__wrap-img {
    height: 387px;
    background-image: url(./../images/image.png);
    background-attachment: fixed;
  }
  &__container {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: auto;
  }

  &__container_card {
    width: 500px;
  }

  &__main-heading {
    font-size: 36px;
    line-height: 42px;
    color: #3d4e61;
  }

  &__main-heading-span {
    font-size: 16px;
    line-height: 19px;
    color: #687c94;
  }

  &__characteristics {
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
    list-style-type: none;
    display: flex;
    padding-left: 0;
    margin: 28px 0;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: #3d4e61;
    width: 490px;
    height: 120px;
  }

  &__contact-h {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
    margin-bottom: 44px;
    font-weight: bold;
    transition: transform 0.15s,
      color 0.25s;
    &:hover {
      color: #118488;
      transform: scale(1.08);
    }
  }
}

.form {
  width: 330px;
  height: 319px;
  background: #fff;
  border: 1px solid #e1e7ed;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 30px 30px 38px;

  &__input {
    outline-color: #fd5c63;
    width: 270px;
    height: 50px;
    box-sizing: border-box;
  }

  &__input-date {
    border: 1px solid #e1e7ed;
    padding-left: 17px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
  }

  &__input-guests {
    border: 1px solid #e1e7ed;
    padding-left: 17px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
  }

  &__input-book {
    margin-bottom: 38px;
    background: #fd5c63;
    border-radius: 4px;
    color: white;
    display: block;
    text-align: center;
    padding-top: 14px;
    text-decoration: none;
    transition: background 0.5s, color 0.5s, border 0.5s;

    &:hover {
      background: white;
      color: #fd5c63;
      border: 1px solid  #fd5c63;
    }
  }

  &__price {
    margin-bottom: 30px;
    margin-top: 15px;
    display: block;
  }
}

.amenities {
  display: flex;
  flex-wrap: wrap;

  &__title {
    font-size: 20px;
    line-height: 23px;
    color: #3d4e61;
  }

  &__item {
    width: 176px;
    margin-bottom: 13px;
  }

  &__show {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #3d4e61;
    margin-bottom: 66px;
    display: inline-block;
    margin-top: 30px;
    transition: transform 0.15s,
      color 0.25s;
    &:hover {
      color: #118488;
      transform: scale(1.08);
    }
  }
}

.reviews {

  &___heading {
    font-size: 28px;
    line-height: 33px;
    color: #3d4e61;
  }
  &__review-text {
    font-size: 16px;
    line-height: 23px;
    color: #3d4e61;
    margin-top: 23px;
    height: 120px;
  }
  &__review-person-img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    display: inline-block;
  }
  .girl-1 {
    background-image: url(./../images/girl.jpg);
    background-size: 51px;
  }
  .girl-2 {
    background-image: url(./../images/girl2.jpg);
    background-size: 94px;
    background-position-x: -24px;
  }
  &__review-person-name {
    font-size: 20px;
    line-height: 27px;
    color: #3d4e61;
    font-weight: bold;
  }
  &__review-cont {
    display: inline-block;
    margin-left: 21px;
  }
}

.who-hosted-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #3d4e61;
  margin-bottom: 11px;
}

.who-hosted-span {
  font-size: 14px;
  line-height: 16px;
  color: #3d4e61;
  margin-bottom: 10px;
}

.who-hosted-text {
  font-size: 16px;
  line-height: 19px;
  color: #3d4e61;
}

.who-hosted-contact {
  display: block;
  width: 150px;
  height: 50px;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #118488;
  border-radius: 5px;
  border: 1px solid #118488;
  box-sizing: border-box;
  padding-top: 14px;
  margin-bottom: 75px;
  margin-top: 30px;
  transition: background 0.5s, color 0.5s, border 0.5s;
}

.who-hosted-contact:hover {
  background: #118488;
  color: white;
  border: 1px solid #065e61;
}

.bottom {
  display: flex;
  margin: 40px 0;
  justify-content: space-around ;
  background: #fff;
  box-shadow: 0 -1px 0 #e1e7ed;
  &__span {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__link {
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
    text-decoration: none;
    margin-bottom: 9px;
    transition: transform 0.15s,
      color 0.25s;
    &:hover {
      color: #118488;
      transform: scale(1.08);
    }
  }
  .section {
    list-style-type: none;
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
    li {
      margin-bottom: 9px;
    }
  }
}
