@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.ttf");
}

.header {
  -webkit-box-shadow: 0 1px 0 #e1e7ed;
          box-shadow: 0 1px 0 #e1e7ed;
  padding: 15px 19px 15px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation .menu__item {
  line-height: 30px;
  margin-right: 31px;
}

.header__navigation .menu__item a {
  font-size: 16px;
  color: #3d4e61;
}

.header__navigation .menu__item a:hover {
  color: #fd5c63;
}

.apartment-photo {
  width: 100%;
  height: 464px;
  background: url("../images/apart_photo.jpg") no-repeat center;
  background-size: cover;
}

.apartment-info__title {
  font-size: 36px;
  margin-bottom: 11px;
}

.apartment-info__subtitle {
  color: #687c94;
  margin-bottom: 15px;
}

.apartment-info__rooms {
  margin-bottom: 28px;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apartment-info__rooms .room {
  width: 81px;
}

.apartment-info__locate {
  width: 490px;
  margin-bottom: 22px;
}

.apartment-info__contact {
  color: #3d4e61;
  display: block;
  margin-bottom: 44px;
  font-weight: bold;
  width: 176px;
}

.apartment-info__contact:hover {
  color: #fd5c63;
}

.apartment-info .advantages__title {
  font-size: 20px;
  margin-bottom: 21px;
}

.apartment-info .advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (176px)[2];
      grid-template-columns: repeat(2, 176px);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 13px 19px;
  margin-bottom: 13px;
}

.apartment-info .advantages__list-all {
  color: #3d4e61;
  display: block;
  margin-bottom: 66px;
  font-weight: bold;
  width: 176px;
}

.apartment-info .advantages__list-all:hover {
  color: #fd5c63;
}

.reviews__title {
  font-size: 28px;
  margin-bottom: 34px;
}

.reviews__wrapper {
  margin-bottom: 17px;
}

.reviews__wrapper .review-detail__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__wrapper .review-detail__info--user {
  margin-bottom: 23px;
}

.reviews__wrapper .review-detail__photo {
  width: 50px;
  height: 50px;
  background: #c4c4c4;
  border-radius: 50%;
  margin-right: 21px;
}

.reviews__wrapper .review-detail__person {
  font-size: 20px;
  font-weight: bold;
}

.reviews__wrapper .review-detail__data {
  font-size: 14px;
}

.reviews__wrapper .review-detail__text-review {
  width: 482px;
  height: 104px;
}

.host__title {
  font-size: 28px;
  margin-bottom: 11px;
}

.host__location {
  font-size: 14px;
  margin-bottom: 7px;
  display: block;
}

.host__info {
  width: 482px;
  height: 104px;
}

.host__contact {
  width: 150px;
  height: 50px;
  display: block;
  color: #118488;
  border: 1px solid #118488;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 24px 13px 27px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.host__contact:hover {
  -webkit-box-shadow: 0 0 5px #118488;
          box-shadow: 0 0 5px #118488;
}

.order-form {
  border: 1px solid #e1e7ed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 330px;
  border-radius: 3px;
  padding: 30px 30px 38px;
  position: absolute;
  top: 0;
  right: 0;
}

.order-form__title {
  margin-bottom: 39px;
}

.order-form__field {
  display: block;
  border: 1px solid #e1e7ed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 13px 0 14px 17px;
  width: 270px;
  height: 50px;
  margin-bottom: 16px;
}

.order-form__field:focus {
  outline-color: #fd5c63;
}

.order-form__book {
  background: #fd5c63;
  border-radius: 4px;
  padding: 15px 96px 13px;
  border: 0;
  color: #fff;
  cursor: pointer;
  width: 270px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.order-form__book:hover {
  -webkit-box-shadow: 0 0 5px #cc1212;
          box-shadow: 0 0 5px #cc1212;
}

.order-form__book:focus {
  outline-color: #fd5c63;
}

.footer {
  padding: 44px 270px;
  -webkit-box-shadow: 0 -1px 0 #e1e7ed;
          box-shadow: 0 -1px 0 #e1e7ed;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
}

.footer__subtitle {
  font-weight: bold;
}

.footer a {
  color: #3d4e61;
}

.footer a:hover {
  color: #fd5c63;
}

body {
  margin: 0;
  font-family: "Avenir", sans-serif;
  color: #3d4e61;
  font-size: 16px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
}

.container {
  width: 900px;
  margin: 39px auto 75px;
  position: relative;
}
/*# sourceMappingURL=main.css.map */