* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir-Medium", sans-serif;
  font-weight: 300;
  color: #3d4e61;
}

@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Avenir-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/Avenir-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 15px 20px 15px 25px;
  background: #fff;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__links {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #3d4e61;
  margin-right: 30px;
}

.nav__links:hover {
  color: #fd5c63;
}

.profile-foto__image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main__house-photo {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.main__content-wraper {
  margin: 0 auto;
  background-color: #fff;
  width: 900px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 540px, 330px;
      grid-template-columns: 540px, 330px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 30px;
}

.lodging {
  margin-bottom: 60px;
}

.lodging__heading {
  font-size: 36px;
  margin-bottom: 10px;
}

.lodging__type {
  font-family: "Avenir-Light", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #687c94;
  margin-bottom: 15px;
}

.lodging__main-details {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 50%;
  margin-bottom: 28px;
}

.lodging__description {
  margin-bottom: 30px;
}

.lodging__contact-host {
  text-decoration: none;
  color: #3d4e61;
  font-weight: 700;
}

.amenities {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33.3%)[2];
      grid-template-columns: repeat(2, 33.3%);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 17px;
  margin-top: 44px;
}

.amenities__heading {
  font-size: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.amenities__more-items {
  font-weight: 700;
}

.reviews__heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 34px;
}

.review {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px, 200px, 1fr;
      grid-template-columns: 50px, 200px, 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 21px;
  grid-row-gap: 14px;
}

.review:not(:last-child) {
  margin-bottom: 45px;
}

.review:last-child {
  margin-bottom: 80px;
}

.review__profile-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review__name-and-time {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}

.review__name {
  display: block;
  font-weight: 600;
}

.review__text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.host {
  margin-bottom: 75px;
}

.host__heading {
  font-size: 28px;
  margin-bottom: 11px;
}

.host__city {
  font-size: 14px;
  color: #687c94;
  font-weight: 300;
  margin-bottom: 15px;
}

.host__text {
  margin-bottom: 20px;
}

.host__contact-button {
  width: 150px;
  height: 50px;
  font-weight: 600;
  color: #118488;
  border: 1px solid #118488;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
}

.host__contact-button:hover {
  color: #fff;
  background-color: #118488;
}

.order-block {
  width: 330px;
  height: 321px;
  background: #fff;
  border: 1px solid #e1e7ed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding: 30px 30px 40px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.order-block__heading {
  font-size: 16px;
  font-weight: normal;
  color: #3d4e61;
  margin: 0 0 40px;
}

.order-block__date, .order-block__guests {
  width: 268px;
  height: 50px;
  border: 1px solid #e1e7ed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  padding-left: 17px;
}

.order-block__date::-webkit-input-placeholder, .order-block__guests::-webkit-input-placeholder {
  color: #3d4e61;
}

.order-block__date:-ms-input-placeholder, .order-block__guests:-ms-input-placeholder {
  color: #3d4e61;
}

.order-block__date::-ms-input-placeholder, .order-block__guests::-ms-input-placeholder {
  color: #3d4e61;
}

.order-block__date::placeholder, .order-block__guests::placeholder {
  color: #3d4e61;
}

.order-block__date {
  margin-bottom: 15px;
}

.order-block__guests {
  margin-bottom: 25px;
}

.order-block__button {
  width: 268px;
  height: 50px;
  background: #fd5c63;
  color: #fff;
  border-radius: 4px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.order-block__button:hover {
  opacity: 0.9;
}

.footer {
  border: 1px solid #e1e7ed;
  padding: 43px 0;
}

.footer__wraper {
  width: 900px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
}

.footer__list {
  list-style: none;
}

.footer__list-item:first-child {
  font-weight: 600;
  margin-bottom: 20px;
}

.footer__list-item:not(:first-child), .footer__list-item:not(:last-child) {
  margin-bottom: 9px;
}
/*# sourceMappingURL=main.css.map */